In [19]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [20]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  16   3  12  12  17
1  13   1  15  17   8
2   9  10   7  10   1
3  16   1   4  12   3
4  18   5  16  12  12

In [21]:
df.query('A > 10')

    A  B   C   D   E
0  16  3  12  12  17
1  13  1  15  17   8
3  16  1   4  12   3
4  18  5  16  12  12

In [22]:
rerata = df['A'].mean()
rerata

14.4

In [23]:
df.query('A > @rerata')

    A  B   C   D   E
0  16  3  12  12  17
3  16  1   4  12   3
4  18  5  16  12  12