In [59]:
import pandas as pd

print(pd.__version__)

2.2.2

In [60]:
df = pd.DataFrame({'jenis_kelamin':['Pria', 'Wanita', 'lelaki', 'Lelaki', 'perempuan'], 
                   'usia':[23, 21, 24, 22, 21], 
                   'shift':['pagi', 'siang', 'Malam', 'Siang', 'pagi']})
df

  jenis_kelamin  usia  shift
0          Pria    23   pagi
1        Wanita    21  siang
2        lelaki    24  Malam
3        Lelaki    22  Siang
4     perempuan    21   pagi

In [62]:
df = df.map(lambda x: x.lower() if type(x) == str else x)
df

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

In [64]:
mapping = {'pria':'L',
           'lelaki':'L',
           'wanita':'P',
           'perempuan':'P',
           'pagi':1,
           'siang':2,
           'malam':3}

df.map(mapping.get)

  jenis_kelamin  usia  shift
0             L  None      1
1             P  None      2
2             L  None      3
3             L  None      2
4             P  None      1

In [66]:
df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].map(mapping.get)

df

  jenis_kelamin  usia shift
0          None    23  None
1          None    21  None
2          None    24  None
3          None    22  None
4          None    21  None