In [1]:
import pandas as pd

print(pd.__version__)

2.2.2

In [2]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'], 
        'jenis_kelamin': ['L', 'L', 'P', 'L'],
        'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
print(df)

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [3]:
df.to_csv('data_peserta.csv')

In [5]:
df = pd.read_csv('data_peserta.csv', index_col=0)

df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [7]:
df.to_csv('data_peserta.csv', index=False)
df = pd.read_csv('data_peserta.csv')
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25